body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(24, 17, 168) 0%, rgb(56, 94, 216) 0%, rgb(0, 238, 255) 90%);
}

form {
    text-align: center;
    width: 450px;
    height: 570px;
    background-color: white;
    margin: 4% auto auto auto;
    border-radius: 1em;
}

input {
    width: 90%;
    display: block;
    box-sizing: border-box;
    padding: .8em;
    margin: 5% 0 5% 5%;
    border: none;
    border-bottom: 2px solid blue;
    font: 14px "Fira Code";
}

input#pass-check {
    width: 1.5em;
    height: 1.5em;
    margin: 2% 2% 2% 5%;
    float: left;
}

input#pass-check:hover {
    cursor: pointer;
}

label {
    float: left;
    margin: 2% 2% 4% 1%;
    font: 16px Arial;
}

input#login {
    font-size: 15px;
    color: aliceblue;
    font-weight: bold;
    margin-top: 2em;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(30,67,185,1) 0%, rgba(0,198,255,1) 90%);
    border: none;
}

input#login:hover {
    cursor: pointer;
    opacity: 80%;
}

input:focus {
    border: none;
    border-bottom: 3.5px solid blue;
    outline: none;
}

h1 {
    font-family: Arial;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 1em;
}

span {
    color: slateblue;
}

a {
    font-family: Arial;
    margin: .5%;
    padding: 1.5%;
    display: inline-block;
    text-decoration: none;
}

a:hover {
    opacity: .75;
}   

a.forgot {
    color: black;
}

div.login-error-message {
    width: 50%;
    height: 40px;
    text-align: center;
    background-color: white;
    font: 18px Arial;
    margin: 2px auto;
    padding: 5px 2px;
    border-radius: 5px;
    line-height: 32px;
}

span.login-error-message {
    color: rgb(222, 16, 74);
}

button.close-error {
    line-height: 12px;
    float: right;
    background-color: white;
    border: 0;
}

.fa-window-close {
    color: red;
    background-color: white;
    font-size: 20px;
    padding: 3px 4px;
    border-radius: 3px;
}

.fa-window-close:hover {
    cursor: pointer;
    color: white;
    background-color: rgba(255, 36, 72, 0.8);
    padding: 3px 4px;
    border-radius: 3px;
}

.fa-window-close:active {
    cursor: pointer;
    color: white;
    background-color: rgb(228, 9, 75);
    padding: 3px 4px;
    border-radius: 3px;
}

.login-success-message {
    width: 50%;
    height: 50px;
    text-align: center;
    background-color: rgb(17, 235, 210);
    font: 18px Arial;
    margin: 0 auto;
    padding: 5px 2px;
    border-radius: 5px;
    line-height: 40px;
}

span.login-success-message {
    color: darkgreen;
}

a.create:visited {
    color: slateblue;
}
