form {
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(16, 16, 16, 0.586);
    border-radius: 3px;
    padding: 10px;
    display: block;
    width: 30%;
    min-width: 350px;
    margin: 70px auto;
}

h1 {
    font-size: 25px;
}

.welcome {
    color: black;
}

.email-style {
    font-size: 16px;
}

.span-mail {
    font-size: 15px;
}

.span-before {
    font-size: 17px;
}

#show-pass:hover {
    cursor: pointer;
}

.fa-lock {
    font-size: 18px;
}

.fa-lock-open {
    font-size: 15px;
}

.question {
    font-size: 16.5px;
}

.error {
    display: inline-block;
    padding: 3px 6px;
    background-color: rgb(255, 192, 203, .6);
    color: rgba(255, 0, 0, .8);
    margin-bottom: 3px;
    border-radius: 5px;
    font: bold 15px Lora;
    line-height: 20px;
}

.holder,
.sec-holder {
    margin: 6px auto;
    text-align: center;
}

.sign-up-error {
    font: bold 20px Lora;
}

.sign-up-success {
    font: bold 20px Lora;
}